/* TODO: add better styles */
.button {
    padding: 0.5em 1.25em;
    border: none;
    border-radius: 5px;
    background-color: rgb(35, 63, 134);
    color: white;
    outline: 2px solid rgb(70, 100, 168);
    transition: all 250ms ease;
}

.button:hover {
    background-color: rgb(82, 128, 244);
    color: rgb(19, 29, 104);
    cursor: pointer;
}