.button {
    padding: 0.5em 1.25em;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 250ms ease;
    box-shadow: inset -2px -2px 4px rgba(43, 21, 105, 0.2);
}

.primary {
    background-color: var(--primary-main);
}

.primary:hover {
    background-color: var(--primary-light);
}

.primary:active {
    background-color: var(--primary-dark);
}

.secondary {
    background-color: var(--secondary-main);
}

.secondary:hover {
    background-color: var(--secondary-light);
}

.secondary:active {
    background-color: var(--secondary-dark);
}

.error {
    background-color: var(--error-main);
}

.error:hover {
    background-color: var(--error-light);
}

.error:active {
    background-color: var(--error-dark);
}

.button:hover {
    transition: all 250ms ease;
    cursor: pointer;
}

.button:active {
    transition: none;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.chip {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(97, 142, 255);
    padding: 4px 8px;
    color: white;
    border-radius: 16px;
    border: none;
    transition: all 250ms ease;
}

.addDataEntryButton {
    position: absolute;
    top: 0;
    left: -10%;
}

.editButton {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -10%;
}

.removeDataEntryButton {
    position: absolute;
}