.experienceEntry {
    padding-bottom: 16px;
}

.experienceDetails {
    display: flex;
    gap: 8px;
    padding-bottom: 8px;
}

.experienceDetails p:last-child {
    margin-left: auto;
}

.experienceDetails p:first-child {
    font-weight: bold;
}

.experienceDetails p:is(:nth-child(1), :nth-child(2))::after {
    content: '|';
    margin-left: 8px;
    font-weight: lighter;
}

.experienceEntry li {
    margin-left: 24px;
}

.experienceEntry li::marker {
    font-size: 10px;
}