:root {
    --entry-header-spacing: 0.5em;
}

.resumeEntry {
    padding-bottom: 1rem;
}

.resumeEntryHeader {
    display: flex;
    gap: var(--entry-header-spacing);
    padding-bottom: 0.25rem;
}

.resumeEntryHeader>*:first-child {
    font-weight: bold;
}

.resumeEntryHeader>*:not(:first-child):not(:last-child)::before {
    content: "|";
    margin-right: var(--entry-header-spacing)
}

.resumeEntryDate {
    margin-left: auto;
}

.resumeEntryBulletpoints {
    margin-left: 1rem;
}

.resumeEntryBulletpoints li {
    list-style-type: none;
}

.resumeEntryBulletpoints li::before {
    content: "";
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-50%);
    width: 4px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-right: 3px;
}