.modal {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    inset: 0;
    display: grid;
    place-items: end center;
}

.modalContent {
    background-color: rgb(240, 241, 255);
    padding: 2rem;
    margin-inline: 0;
    margin-block: 0;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    max-height: calc(100dvh - 3rem);
    width: clamp(0px, 100rem, 85%);
    overflow-y: auto;
}

.modalContent::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.modalContent::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 16px;
    background-color: var(--primary-main);
    background-clip: padding-box;
}

.modalContent::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-light);
}


@media (min-width: 600px) {
    .modal {
        place-items: start center;
    }

    .modalContent {
        max-width: 600px;
        border-radius: var(--border-radius);
        margin-block: 2rem 0;
    }
}