.editorInputs {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.addEntryGroup {
    display: flex;
    align-items: end;
    gap: 0.5em;
}

.addEntryGroup>label {
    flex: 1 1 auto;
}

.addEntryGroup>button {
    padding-block: 13.33px;
}

.chipList {
    display: flex;
    gap: 0.5em;
}

.header {
    margin-bottom: 0.5rem;
}