.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
}

.name {
    margin-inline: auto;
}

.detailsContainer {
    display: flex;
    margin-inline: auto;
}

.detail {}