.educationItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.educationItemRow {
    display: flex;
    gap: 5px;
}

.educationName {
    font-weight: bold;
}

.educationName::after {
    content: "|";
    margin-left: 5px;
    font-weight: lighter;
}

.educationItemRow p:last-child:not(:first-child) {
    margin-left: auto;
}