:root {
    font-family: Arial, sans-serif;
    --border-radius: 4px;
    --primary-main: rgb(62, 60, 163);
    --primary-light: rgb(86, 84, 221);
    --primary-dark: rgb(45, 43, 115);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100dvh;
    background-color: rgb(50, 50, 50);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

section {
    padding-bottom: 1rem;
}

section h2 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

input {
    margin: 0;
    vertical-align: baseline;
    line-height: normal;
}